* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Navigator */

.navigator {
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #0082E6;
  position: inherit;
}

.navigator img {
  max-height: 50px;
  max-width: 100%;
  margin: 20px 10px 10px 30px;
}


.navigator ul {
  float: right;
  margin-right: 20px;
  margin-top: 8px;
}

.navigator ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.navigator ul li a {
  color: white;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .navigator ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  .navigator ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  .navigator ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .navigator ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* Main body */

.main {
  position: inherit;
  width: 100%;
  padding: 50px;
}

/* Footer */
.footer {
  background-color: #3385ff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Buttons for tips,modules and news */

.button-menu {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.button-menu-list {
  width: 194.17px;
  height: 80px;
  background: #5C9DFF;
  border-radius: 50px;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
}

.button-menu-list a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  display: block;
  line-height: 80px;
  text-align: center;
}

.button-menu-list:hover {
  background: #3F80FF;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.button-menu-list:hover a {
  color: #FFF;
}

@media (max-width: 768px) {
  .button-menu-list {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .button-menu-list {
    width: 100%;
  }
}


/* profile */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: transparent;
  flex-wrap: wrap;
}

.profile-details {
  width: 300px;
  height: 400px;
  background-color: #5C9DFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.profile-details:hover {
  transform: scale(1.1);
}

.profile-details img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-details p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 10px;
}

.profile-details p:first-of-type {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.profile-details p:last-of-type {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}

@media screen and (max-width: 768px) {
  .profile-details {
    width: 250px;
    height: auto;
  }

  .profile-details p:first-of-type {
    font-size: 20px;
  }

  .profile-details p {
    font-size: 16px;
  }
}

/* contact us */
.contact-us {
  width: 100%;
  height: 455.5px;
  background:transparent;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-us p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* modules */
.modules-intro {
  text-align: left;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.modules-intro h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.modules-intro p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
}

.modules-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: transparent;
  flex-wrap: wrap;
}

.module-details {
  width: 300px;
  height: auto;
  max-width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.module-details img {
  max-width: 100%;
  height: auto;
}

.learning-modules-container{
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  /* background: linear-gradient(to bottom right, #fff, #eee);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  */
}

.module-img img {
  width: 100%;
  height: 400px;
  padding: 20px;
}

.module-body ul li {
  text-align: justify;
  list-style-type: disc;
  margin-left: 25px;
  padding: 10px;
}

.module-body p {
  text-align: justify;
  padding: 10px;
}

.module-body h2 {
  text-align: justify;
  padding: 10px;
}


/* tips */

.tips-intro {
  text-align: left;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.tips-intro h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tips-intro p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
}

.tips-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: transparent;
  flex-wrap: wrap;
}

.tip-details {
  width: 300px;
  height: auto;
  max-width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.tip-details img {
  max-width: 100%;
  height: auto;
}

/* readmore */
.read-more {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.read-more:hover {
  background-color: #000;
  color: #fff;
}

/* slide-show */
.slideshow-container {
  position: relative;
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom right, #fff, #eee);
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mySlides {
  /* display: none; */
  text-align: center;
  padding: 10px;
  height: 100%;
}

.mySlides img {
  max-width: 100%;
  max-height: 100%;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  font-weight: bold;
  padding: 8px 16px;
  margin-top: -22px;
  color: #000;
  cursor: pointer;
  transition: 0.6s ease;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: #000;
}

.prev.disabled, .next.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .prev, .next {
      font-size: 16px;
      padding: 4px 8px;
  }
}

/* return */

.return {
  display: inline-block;
  padding: 10px;
}

.return-button a {
  color: #333;
  text-decoration: none;
}

.return-button a:hover {
  background-color: transparent;
  color: inherit;
  border: none;
}

/* next-prev */
.next-prev-container{
  position: relative;
  width: 100%;
  height: 70px;
}
.next-prev-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.prev-button,
.next-button {
  color: #000;
  padding: 10px 20px;
  text-align: center;
}

.prev-button a,
.next-button a {
  text-decoration: none;
  color: #000;
}

.prev-button a:hover,
.next-button a:hover{
  background-color: transparent;
  color: inherit;
  border: none;
}

