*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

/* nav */
.nav {
    position: absolute;
    width: 250px;
    height: 500px;
    left: 0px;
    top: 0px;
    background: #D9D9D9;
  }
  
  .logo img {
    display: block;
    max-width: 100%;
  }
  
  .menu {
    display: flex;
    justify-content: center;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    display: block;
    padding: 10px;
    background: #fff;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu a:hover {
    background: #333;
    color: #fff;
  }
  

/* main left */
.main{
    position: absolute;
    width: 1030px;
    height: 500px;
    left: 250px;
    top: 0px;
    background:white;
}

/* footer */
.footer{
    position: absolute;
    width: 1280px;
    height: 109px;
    left: 0px;
    top: 500px;  
    background: #02256b;
}
.footer h1{
    position: absolute;
    width: 273px;
    height: 56px;
    top: 30px;
    left: 500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}